@import "tailwindcss" source(".");


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --background-color: #FFFFFF;
  --color-gray-muted: #D1D1D1;
  --font-inter: "Inter", sans-serif;
}

html,
body {
  @apply bg-white dark:bg-gray-950;
  background-color: var(--background-color);
}
